//
// Responsive: Utility classes
// --------------------------------------------------

@media (min-width: 1921px) { //desktop

	body {
		font-size: $base-font-size*2;
	}

	h1 {
		font-size: $base-font-size*5;
	}

	h2 {
		font-size: $base-font-size*4.5;
	}

	h3 {
		font-size: $base-font-size*3;
	}

	h4 {
		font-size: $base-font-size*2.5;
		margin-top: $base-font-size*2.5;
	}

	p {
		font-size: $base-font-size*2;
		margin-bottom: $base-font-size*0.5;
	}	

	.site-header {
		height: 225px;
	}
}

@media (min-width: 1920px) {
	.container {
		max-width: 1600px; 
	}

	.site-header .header-small,
	.site-header .navbar a,
	.site-footer span {
		font-size: $base-font-size;
	}
}

@media (max-width: 1367px) {
}

@media (max-width: 1280px) {
}
@media (min-width: 1025px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
	.mouse-icon {
		display: none;
	}

	.hepc-header,
	.hepc-footer {
		position: relative;
	}
}

@media (max-width: 910px) {
}

@media (max-width: 895px) {
}

@media (max-width: 768px) {

	body {
		font-size: $base-font-size;
		line-height: $base-line-height;

		&.blue-theme h1 {
			font-size: 48px;
		}
	}

	.site-header {
		.hcp-cta {
			img {
				width: 100%;
			}
		}
	}

	.hepc-header .hcp-cta {
		right: 3% !important;
	}

	.floating-cta {
		background-size: 40%;
		height: 50px;
		width: 50px;

		&:hover {
			background-size: contain;
			height: 44px;
			width: 72px;
		}
	}

	.resources h4 {
		height: 80px;
	}
}

@media (max-width: 767px) {

	h1 {
		font-size: $base-font-size*2.5;
	}

	h2 {
		font-size: $base-font-size*2;
	}

	h3 {
		font-size: $base-font-size*1.33;
	}

	h4 {
		font-size: $base-font-size*1.11;
		margin-top: $base-font-size*1.11;
	}

	p {
		margin-bottom: $base-font-size*0.5;
	}

	.site-header {
		height: 350px;
		margin-bottom: 10px;

		.navbar li {
			border: 1px solid lightgrey;
			text-align: center;
		}
	}

	.welcome-bg {
		height: 500px !important;
	}

	.site-footer {
		.col-sm-12, .col-xs-12 {
			margin: 0 auto;
			text-align: center;

			span {
				float: none;
				line-height: 5;
			}
		}
	}
}

@media (max-width: 600px) {
	.resources h4 {
		height: 60px !important;
	}
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
}
