// General Styles

@import url("https://use.typekit.net/qil2ina.css");
@import url("https://use.typekit.net/bjf8xds.css"); 

body {
	border: 10px solid $primary;
	font-family: acumin-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-family: acumin-pro-condensed, sans-serif;
	// font-style: italic;
	font-weight: 800;
	line-height: 1.2;
	text-transform: uppercase;
}

h1 {
	color: $primary;
	font-size: 70px;
	margin-bottom: 30px;
}

h2 {
	color: $primary;
	font-size: 36px;
	margin-bottom: 0.3em;
}

h3 {
	color: $primary;
	font-size: 28px;
	line-height: 38px;
	margin-bottom: 0.3em;
}

h4 {
	font-size: 18px;
	// font-style: italic;
	text-align: center;
	text-transform: unset;
}

p {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 25px;
}

a {
	color: $primary;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

hr {
	// background: $primary;
	height: 1px;
	margin: 30px 0;
	// width: 10%;
}

.campaign-tag {
	color: $primary;
	// font-style: italic;
}

.center {
	margin: 30px auto;
	text-align: center;
}

// Website

.wrapper {
	// padding: 60px 0;
	padding: 0;
}

.logo {
	img {
		margin: 30px 0;
		width: 100px;
	}
}

.site-header {
	// height: 180px;
	// padding: 50px 0;

	.page-title {
		text-align: center;
	}

	.header-small {
		font-size: 12px;
		padding-right: 0.5rem;
		padding-top: 30px;
		text-align: right;
	}

	.navbar {
		padding: 30px 0;

		a {
			// border: 2px solid $primary;
			color: $black;
			font-size: 12px;
			font-weight: 800;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: $primary;
			}
		}

		li {
			// margin: 0 10px;

			&:not(:last-child) {
				border-right: 1px solid lightgrey;
			}

			&.active {
				a {
					color: $primary;
				}
			}
		}
	}

	.hcp-cta {
		position: absolute;
		top: 0;
		right: 7%;

		img {
			width: 100px;
		}
	}
}

.below-logo-text {
	font-size: 12px;
	width: 100px;
}

.site-footer {
	margin-top: 30px;
	margin-bottom: 30px;
	
	span {
		float: right;
		font-size: 12px;
		padding: 15px 0;
		text-align: right;
	}
}

/*
Page Content
*/
.mouse-icon {
	margin: 30px auto;
}

.cta-link {
	border: 2px solid $primary;
	// font-style: italic;
	margin-top: 30px;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: $primary;
		color: #fff;
	}
}

.bg-image {
	height:275px;
	width:100%;

	h1 {
		// line-height: 275px;
		padding-top: 80px;
	}
}

.entry-content {

	.welcome-bg {
		height: 400px;
		padding: 30px 0;
		text-align: center;
	}

	li {
		font-size: 16px;
		// font-style: italic;
		list-style-image: none;
		list-style-type: disc;
	}

	.first-level > li {
		font-size: 20px;
		list-style-image: url(../img/bullet.png);
	}

	.small-font {
		p {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
}

.welcome-bg {
	p {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

.resources {
	.col-3 {
		margin-bottom: 30px;
	}

	h4 {
		height: 60px;
		margin-bottom: 30px;
	}

	.org-logo {
		border: 2px solid $primary;
		height: 100px;
		line-height: 100px;
		margin-bottom: 30px;
		text-align: center;
		width: 100%;
	}

	// p {
		// 	text-align: center;
		// }
	}

/*
Old Phase 1
*/

.site-signup {
	background: url(../img/background.png) no-repeat;
	background-size: cover;
}

.blood-tube {
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.wpcf7 {
	font-family: acumin-pro-extra-condensed, sans-serif;
	font-style: normal;
	font-weight: 600;
	max-width: none;

	.wpcf7-form label {
		font-size: 19px;

	}

	label.acceptance-link {
		width: auto;
	}

	.form-control, input[type=text], input[type=search], input[type=url], input[type=tel], input[type=number], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], input[type=email], input[type=file], input[type=submit], select, textarea, .wpcf7-validation-errors {
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 0;
		margin-bottom: 20px;
	}

	.signup-submit {
		background-color: $primary !important;
		border: none !important;
		color: #fff !important;
		text-transform: uppercase !important;

		&:hover {
			background-color: #fff !important;
			border: 1px solid $primary !important;
			color: $primary !important;
		}
	}

	span .wpcf7-not-valid {
		border: 2px solid $primary !important;
	}

	span.wpcf7-not-valid-tip {
		display: none;
	}
}

.hidden-fancybox {
	display: none;
	max-width: 70%;

	p {
		font-size: 16px;
		font-weight: 500;
	}
}

.signup-footer {
	font-family: acumin-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.875em; //14px
	text-align: right;

	span {
		vertical-align: bottom;
	}
}

@media (max-width: 768px) {
	.site-signup {
		background: url(../img/background-mobile.png) no-repeat;
		background-size: cover;
	}

	.blood-tube.d-md-block img {
		position: relative;
		margin-top: 100px;
	}
}