//
// Responsive: Utility classes
// --------------------------------------------------

@media (min-width: 1441px) { //dekstop
}

@media (max-width: 1367px) {
}

@media (max-width: 1280px) {
}
@media (min-width: 1025px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 950px) {
}

@media (max-width: 910px) {
}

@media (max-width: 895px) {
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
	}

	.site-header .navbar a {
		height: 56px;
	}

	.resources h4 {
		height: 80px;
	}
}

@media (max-width: 767px) {

	.welcome-bg {
		height: 500px !important;
	}
}

@media (max-width: 600px) {
	.resources h4 {
		height: 60px !important;
	}
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
}
